block append head
  script(type='text/javascript', src='/js/models/GameModel.js')
  script(type='text/javascript', src='/js/views/GameView.js')
  script(type='text/javascript', src='/js/application.js')

#games_joined

#games_available
