- if (!everyauth.loggedIn)
  ul#auth_msgs
    li.auth_msg Not Authenticated
  #auth_actions
    #password-login.auth_action
      a(href='/login') Login
    #register.auth_action
      a(href='/register') Register
- else
  ul#auth_msgs
    li.auth_msg Authenticated
  #auth_actions
    #logout.auth_action
      a(href='/logout') Logout
