!!! 5
html
  head
    block head
      title= typeof(title) !== 'undefined' ? title : "noban"
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type="text/javascript", src="/js/jquery-1.7.1.min.js")
      script(type="text/javascript", src="/js/socket.io.min.js")
      script(type="text/javascript", src="/js/underscore-min.js")
      script(type="text/javascript", src="/js/backbone-min.js")
      script(type="text/javascript", src="/js/json2.js")
      script(type="text/javascript", src="/js/backbone.iobind.min.js")
      script(type="text/javascript", src="/js/backbone.iosync.min.js")
  body
    #main
      != body
