!!! 5
html
  head
    title= typeof(title) !== 'undefined' ? title : "node"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/js/jquery-1.7.1.min.js")
    script(type="text/javascript", src="/js/socket.io.min.js")
  body
    h1 noban : the node goban
    #main
      != body
