block append head
  script(type='text/javascript', src='/js/PlayersList.js')
  script(type='text/javascript', src='/js/game.js')
input#leave_button(type='button', value='Leave')
#players
  h3 Current players
  ul#players_list
#goban
#chat
